* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #0f172a;
  --primary-text-color: red;
  --card-bg-color: green;
}
body {
  background-color: #52525b;
  overflow-x: hidden;
}
.main {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 8rem 2rem 2rem 6rem;
}
.header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: fixed;
  width: 100vw;
  z-index: 1;
  background-color: var(--background-color);
}
.heading {
  color: var(--primary-text-color);
}
