* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #9d663e;
  --primary-text-color: #155e75;
}
body {
  background-color: var(--background-color);
  overflow-x: hidden;
}
